/* Navbar Style */


.poppins-font {
    font-family: "Poppins", serif;
    font-style: normal;
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 90px;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}

.nav-tittle{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin: 40px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

.bnt-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    color: white;
    border: none;
}